* {
    -fx-font-family: "微软雅黑";
    /*-fx-text-fill: #37474F;*/
    -fx-text-fill: #757575;
}
.label{
    -fx-font-size: 18px;
}

.text-field{
    -fx-font-size: 18px
}
.button {
    -fx-border-radius: 5px;
    -fx-font-size: 18px;
    -fx-cursor: hand;
}






/*线上入住按钮*/
#checkinOnlineBtn{
    -fx-background-color: transparent;
}

/*线下入住按钮*/
#checkinOfflineBtn{
    -fx-background-color: transparent;
}
/*线上退房按钮*/
#outOnlineBtn{
    -fx-background-color: transparent;
}

/*线下退房按钮*/
#outOfflineBtn{
    -fx-background-color: transparent;
}

/**
*订单详情界面
 */

/*时间，分钟ComboBox*/
.TimeComboBox{
    -fx-scale-x :0.8;
}

.DatePicker{
    -fx-scale-x :0.9;
}


/*
公用-------------------------------------------------------------------------------------------------
 */

/*左侧栏*/
#LeftArea {
    -fx-background-color: #32323A;
}
/*左侧按钮*/
.sideButton{
    -fx-border-style: none;
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.sideButton:hover{
    -fx-background-color: deepskyblue;
}



/*关闭按钮*/
.CloseButton{
    -fx-border-style: none;
    -fx-background-color: transparent;
}
.CloseButton:hover{
    -fx-background-color:#e74c3c;
    -fx-graphic: url("../../img/common/close_hover.png");
}

/*最小化按钮*/
.MinButton{
    -fx-border-style: none;
    -fx-background-color: transparent;
}
.MinButton:hover{
    -fx-background-color:#E5E5E5;
}

/*被更换的底部Panel*/
.panel {
    -fx-background-color: #F5F4F1;
}

/*底部栏*/
#bottomHBox{
    -fx-background-color: white;
}

/*内容Panel*/
.BackgroundPanel{
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, mintcream, 1.0, 0.0, 1, 1);
}

/*顶侧栏*/
#topBar {
    -fx-background-color: white;
}

/*ComboBox*/
.combo-box{
    -fx-font-size: 18px;
    -fx-background-color: #b3c2c3;
}
.combo-box:hover{
    -fx-cursor: hand;
    -fx-background-color: #95a5a6
}
.combo-box .cell:selected{
    -fx-text-fill: #ffffff;
    -fx-background-color: #b3c2c3;
}
.combo-box .cell:hover{
    -fx-text-fill: white;
    -fx-background-color: #95a5a6
}

.combo-box .arrow{
    -fx-background-color: white;
}

/*tableview*/
.table-view{
    -fx-background-color: white;
    -fx-border-color: white;
    -fx-font-size: 15px;
}
.table-view .column-header, .filler{
    -fx-background-color: white;
    -fx-border-color: white white #dddddd white;
}
.table-view .column-header .label{
    -fx-background-color: white;
    -fx-border-color: white white #dddddd white;
    -fx-text-fill: #7E7E7E;
    -fx-font-weight: 400;
}
.table-view .table-row-cell{
    -fx-border-color: transparent;
}
.table-view .table-column{
    -fx-border-color: transparent;
    -fx-text-fill: #37474F;
}
.table-view .table-row-cell:selected{
    -fx-background-color: #F6FAFF;

}
.table-view .table-row-cell:hover{
    -fx-background-color: #F6FAFF;
}
/*左右中对齐列表栏*/
.table-view .column-header.LeftAlignCol .label{
    -fx-alignment: center-left;
}
.table-view .LeftAlignCol{
    -fx-alignment: center-left;
}
.table-view .column-header.RightAlignCol .label{
     -fx-alignment: center-right;
 }
.table-view .RightAlignCol{
    -fx-alignment: center-right;
}
.table-view .column-header.MidAlignCol .label{
    -fx-alignment: center;
}
.table-view .MidAlignCol{
    -fx-alignment: center;
}




/**
基本信息界面-----------------------------------------------------------------------------------------------------------
 */



/*查看评价链接*/
#reviewLink{
    -fx-font-size: 18px;
    -fx-text-fill: #55acee;

}
/*评价订单列表*/
/*滚动条不可见*/
/*#reviewTable *.scroll-bar:vertical *.increment-button,*/
/*#reviewTable *.scroll-bar:vertical *.decrement-button,*/
/*#reviewTable *.scroll-bar:vertical *.increment-arrow,*/
/*#reviewTable *.scroll-bar:vertical *.decrement-arrow {*/
    /*-fx-background-color: transparent;*/
    /*-fx-padding: 0;*/
/*}*/
#reviewTable .table-row-cell:empty {
    -fx-background-color: white;
}
#reviewTable .table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}
#reviewTable .table-row-cell:selected{
    -fx-background-color: transparent;

}
#reviewTable .table-row-cell:hover{
    -fx-background-color: transparent;
}

/*评分*/
#hotelRatingLabel{
    -fx-text-fill: #fe4f00;
}
#ratingLabel{
    -fx-text-fill: #fe4f00;
    -fx-font-size: 32px;
}
/*编辑按钮*/
#editInfoBtn{
    -fx-border-color: #55acee;
    -fx-background-color: #55acee;
    -fx-text-fill:white;
}
#editInfoBtn:hover{
    -fx-border-color: #49BCFF;
    -fx-background-color: #49BCFF;
}

/*保存按钮*/
#saveEditBtn{
    -fx-background-color: #2fe17f;
    -fx-text-fill:white;
}
#saveEditBtn:hover{
    -fx-background-color: rgba(48, 255, 152, 0.80);
}

/*取消按钮*/
#cancelEditBtn{
    -fx-background-color: rgba(233, 77, 61, 0.8);
    -fx-text-fill:white;
}
#cancelEditBtn:hover{
    -fx-background-color: rgba(255, 83, 67, 0.8);
}



/**
订单列表--------------------------------------------------------------------------------------------
 */

/*列表上方的工具栏*/
.listTopBar{
    -fx-background-color: #f7f7f7;
    -fx-border-color: #dddddd #F5F4F1 #F5F4F1 #F5F4F1;
}

/*搜索框*/
#searchField{
    -fx-background-radius: 10;
    -fx-font-size: 15px;
}
/*搜索按钮*/
#searchOrderIDBtn{
    -fx-border-style: none;
    -fx-background-color: transparent;
    /*-fx-background-radius: 10;*/
}


.TableButtonCell{
    -fx-background-radius: 50%;
    -fx-cursor: hand;
    -fx-background-color: #55acee;
    -fx-pref-width: 32px;
    -fx-pref-height: 32px;
    -fx-min-width: 32px;
    -fx-min-height: 32px;
}
.TableButtonCell:hover{
    -fx-background-color: #49BCFF;
}



/**
录入可用客房---------------------------------------------------------------------------------------------------
 */

/*添加客房按钮*/
.roomBtn{
    -fx-background-color: white;
    -fx-border-color: #dddddd;
    -fx-padding: 0;
}
.roomBtn:hover {
    -fx-background-color: #F6FAFF;
}

/**
订单详情
 */
/*返回按钮*/
.BackBtn{
    -fx-background-color: transparent;
}
.BackBtn:hover{
    -fx-cursor: hand;
    -fx-graphic: url("../../img/hotelworker/back_hover.png");;
}
/*标题*/
#detailTitleLabel{
    -fx-font-size: 24px;
    -fx-text-fill: #1f99ff;
}
.BackgroundHBox{
    -fx-background-color: white;
    -fx-border-color: #dddddd;
}
/*查看评价按钮*/
#showReviewBtn{
    -fx-background-color: #55acee;
    -fx-text-fill: white;
}
#showReviewBtn:hover{
    -fx-background-color: #49BCFF;
}
/**
制定促销策略
 */
.PromotionBtn{
    -fx-background-color: transparent;
    -fx-text-fill: #7E7E7E;
}
.PromotionBtn:hover{
    -fx-cursor: hand;
    -fx-background-color: #e1e0dd;
}
.PromotionBtn:focused{
    -fx-text-fill: #37474F;
}
.PromotionAddBtn{
    -fx-background-color: white;
    -fx-border-color: #dddddd;
    -fx-padding: 0;
}
/*滑块*/
#sliderPromotionLabel{
    -fx-background-color: #1f99ff;
}
/**
更新入住信息
 */
#submitUpdateBtn{
    -fx-background-color: #55acee;
    -fx-text-fill: white;
}
#submitUpdateBtn:hover{
    -fx-background-color: #49BCFF;
}
/**
更新退房信息
 */




/**
网站营销人员界面***************************************************************************************
 */






/**
促销策略------------------------------------------------------------------------------------------
 */
#manageMemRankBtn{
    -fx-background-color: #55acee;
    -fx-text-fill: white;
    -fx-font-size: 17px;
}
#manageMemRankBtn:hover{
    -fx-background-color: #49BCFF;
}

/*会员优惠*/

/**
订单列表------------------------------------------------------------------------------------------
 */

/*酒店名称列表栏*/
.table-view .column-header#hotelMarketCol .label{
    -fx-alignment: center-left;
}
.table-view #hotelMarketCol{
    -fx-alignment: center-left;
    -fx-text-fill: #37474F;
}

/**
订单申诉------------------------------------------------------------------------------------------
 */
/*异常订单价格*/
#webOrderPriceLabel{
    -fx-text-fill: #fd9301;
}
/*异常订单状态*/
#webOrderTypeLabel{
    -fx-text-fill: #ff2c14;
}
/*撤销异常订单按钮*/
#cancelAbnOrderBtn{
    -fx-background-color: #55acee;
    -fx-text-fill: white;
}
#cancelAbnOrderBtn:hover{
    -fx-background-color: #49BCFF;
}


/**
增加信用值-----------------------------------------------------------------------------------------
 */
/*充值提示*/
#creditPromptLabel{
    -fx-font-size: 15px;
    -fx-text-fill: #cccccc;
}
#addBtn{
    -fx-background-color: #55acee;
    -fx-text-fill: white;
}
#addBtn:hover{
    -fx-background-color: #49BCFF;
}