* {
    -fx-font-family: "微软雅黑";
    /*-fx-font-size: 1.2em;*/
}
#userLeftArea {
    /*-fx-background-color: #090723;*/
    -fx-background-color: #32323A;
}
#topBar {
    -fx-background-color: white;
    -fx-effect: dropshadow(one-pass-box, #0F1034, 2, 1.0, 0, 0);
}
#stateBar {
    -fx-background-color: white;
}
.button{
    -fx-border-style: none;
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.actionBtn {
    -fx-background-color: deepskyblue;
    -fx-border-radius: 7px;
}
.actionBtn:hover {
    -fx-effect: dropshadow(one-pass-box, deepskyblue, 10, 1.0, 0, 0);
}
.actionBtn:armed {
    -fx-background-color: #0F81C7;
    -fx-effect: none;
}


#showMoreChoiceBtn {
    -fx-text-fill: #0F1034;
    -fx-border-style: solid;
    -fx-border-radius: 7px;
}

#hideMoreChoiceBtn1 {
    -fx-text-fill: #0F1034;
    -fx-border-style: solid;
    -fx-border-radius: 7px;
}

/*去除在scrollpane内点击时出现的蓝色边框*/
.scroll-pane {
    -fx-background-insets: 0;
}


#writeOrder {
    -fx-text-fill: deepskyblue;
}
