* {
    -fx-font-family: "微软雅黑";
    -fx-text-fill: #37474F;
}
.label{
    -fx-font-size: 18px;
}

.text-field{
    -fx-font-size: 18px
}
.button {
    -fx-border-radius: 5px;
    -fx-font-size: 18px;
    -fx-cursor: hand;
}



/*搜索框*/
#searchField{
    -fx-background-radius: 10;
}
/*搜索按钮*/
#searchOrderIDBtn{
    -fx-border-style: none;
    -fx-background-color: transparent;
    /*-fx-background-radius: 10;*/
}

/**
充值信用界面
 */

/*信用充值提示框*/
#creditPrompt{
    -fx-font-size: 12px;
    -fx-text-fill: cornflowerblue;
}

















/*
公用-------------------------------------------------------------------------------------------------
 */

/*左侧栏*/
#LeftArea {
    -fx-background-color: #32323A;
}
/*左侧按钮*/
.sideButton{
    -fx-border-style: none;
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.sideButton:hover{
    -fx-background-color: deepskyblue;
}

/*关闭按钮*/
.CloseButton{
    -fx-border-style: none;
    -fx-background-color: transparent;
}
.CloseButton:hover{
    -fx-background-color:#e74c3c;
    -fx-graphic: url("../../img/common/close_hover.png");
}

/*最小化按钮*/
.MinButton{
    -fx-border-style: none;
    -fx-background-color: transparent;
}
.MinButton:hover{
    -fx-background-color:#E5E5E5;
}

/*被更换的底部Panel*/
.panel {
    -fx-background-color: #F5F4F1;
}

/*底部栏*/
#bottomHBox{
    -fx-background-color: white;
}

/*内容Panel*/
.BackgroundPanel{
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, mintcream, 1.0, 0.0, 1, 1);
}

/*顶侧栏*/
#topBar {
    -fx-background-color: white;
}

/*ComboBox*/
.combo-box{
    -fx-font-size: 18px;
    -fx-background-color: #b3c2c3;
}
.combo-box:hover{
    -fx-cursor: hand;
    -fx-background-color: #95a5a6
}
.combo-box .cell:selected{
    -fx-text-fill: #ffffff;
    -fx-background-color: #b3c2c3;
}
.combo-box .cell:hover{
    -fx-text-fill: white;
    -fx-background-color: #95a5a6
}

.combo-box .arrow{
    -fx-background-color: white;
}

/*tableview*/
.table-view{
    -fx-background-color: white;
    -fx-border-color: white;
    -fx-font-size: 15px;
}
.table-view .column-header, .filler{
    -fx-background-color: white;
    -fx-border-color: white white #dddddd white;
}
.table-view .column-header .label{
    -fx-background-color: white;
    -fx-border-color: white white #dddddd white;
    -fx-text-fill: #7E7E7E;
    -fx-font-weight: 400;
}
.table-view .table-row-cell{
    -fx-border-color: transparent;
}
.table-view .table-column{
    -fx-border-color: transparent;
}
.table-view .table-row-cell:selected{
    -fx-background-color: #F6FAFF;

}
.table-view .table-row-cell:hover{
    -fx-background-color: #F6FAFF;
}





/**
制定促销策略
 */
.PromotionBtn{
    -fx-background-color: transparent;
    -fx-text-fill: #7E7E7E;
}
.PromotionBtn:hover{
    -fx-cursor: hand;
}
.PromotionBtn:focused{
    -fx-text-fill: #37474F;
}
.PromotionAddBtn{
    -fx-background-color: white;
    -fx-border-color: #dddddd;
    -fx-padding: 0;
}
.PromotionBtn:hover{
    -fx-background-color: #F6FAFF;
}
/*滑块*/
#sliderPromotionLabel{
    -fx-background-color: #1f99ff;
}
/*制定会员等级*/
#manageMemRankBtn{
    -fx-background-color: #55acee;
    -fx-text-fill: white;
}
#manageMemRankBtn:hover{
    -fx-background-color: #49BCFF;
}