* {
    -fx-font-family: "微乳雅黑";
}

#topbar {
    -fx-background-color: white;
    -fx-effect: dropshadow(one-pass-box, #0F1034, 2, 1.0, 0, 0);
}

.button {
    -fx-border-style: none;
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

#left_area {
    -fx-background-color: #32323A;
}


.actionBtn {
    -fx-background-color: deepskyblue;
    -fx-border-radius: 7px;
}
.actionBtn:hover {
    -fx-effect: dropshadow(one-pass-box, deepskyblue, 10, 1.0, 0, 0);
}
.actionBtn:armed {
    -fx-background-color: #0F81C7;
    -fx-effect: none;
}

